body{
    background-image: linear-gradient(rgb(119, 119, 119), rgb(53, 52, 52), rgb(48, 47, 47));
    background-repeat: no-repeat;

}
.img1{
    padding-left: 100px;
    padding-bottom: 1000px;
    width: 150px;
    position: absolute;
    
}
h2{
    font-size: 20px;
    color: white;
}
p{
    color: white;
}
input{
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
select{
    background-color: blue;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
